.ant-layout-content {
  min-height: 600px;
  max-width: 1024px;
  padding: 24px;
  margin: auto;
}

.ant-layout-header {
  padding: 0px !important;
}

.ant-menu-submenu-title,
.ant-menu-item {
  padding: 0px 0px 0px 24px !important;
}

.gallery-figcaption--info .photo-caption {
  color: white;
}

.ant-page-header-heading {
  justify-content: center !important;
}

.ant-page-header-heading-left {
  flex-direction: column;
}

.ril__caption,
.ril__toolbar {
  background: none !important;
}
.ril__caption {
  display: block !important;
}

.ant-menu-submenu-active,
.ant-menu-submenu-selected,
.ant-menu-submenu-title:hover,
.ant-menu-submenu-open,
.ant-menu-item-selected a,
.ant-breadcrumb-link a,
.ant-menu-item a:hover {
  color: rgba(0, 0, 0, 0.85) !important;
  font-weight: bold;
}

.ant-menu-submenu::after,
.ant-menu-submenu-active::after,
.ant-menu-submenu-title::after,
.ant-menu-submenu-selected::after,
.ant-menu-submenu-open::after,
.ant-menu-item-selected::after,
.ant-menu-item::after,
.ant-menu-item:hover::after {
  border-bottom: none !important;
}

.caption-left a:hover {
  font-weight: bold;
}

.ril__navButtonNext {
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+")
    no-repeat center !important;
}

.ril__navButtonPrev {
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==")
    no-repeat center !important;
}

.caption-container {
  position: relative;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 1000;
  width: 100%;
}

.caption-text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0px 10px;
  display: table;
  font-size: 80%;
  width: 100%;
}

.img-wrapper:hover .caption-container {
  visibility: visible;
  transition: opacity 0.8s;
}

@media screen and (max-width: 576px) {
  .img-wrapper:hover .caption-container {
    visibility: hidden;
    transition: opacity 0.8s;
  }
}

.logo {
  float: left;
  margin-right: 24px;
  margin-left: 24px;
  padding: 0px;
  background: url("/logo.jpeg") no-repeat center;
  background-size: 30px;
  width: 30px;
  height: 64px;
}

.ant-menu-overflow,
.ant-menu,
.ant-menu-root,
.ant-menu-horizontal,
.ant-menu-light,
.ant-menu-submenu-title,
.ant-layout-header,
.ant-layout-footer {
  border: 0 !important;
}
