.ant-layout-content {
  min-height: 600px;
  max-width: 1024px;
  padding: 24px;
  margin: auto;
}

.gallery-figcaption--info .photo-caption {
  color: white;
}

.ant-page-header-heading {
  justify-content: center !important;
}

.ant-page-header-heading-left {
  flex-direction: column;
}

.ril__caption {
  justify-content: center !important;
}

.ant-menu-item-selected a,
.ant-menu-item a:hover {
  color: rgba(0, 0, 0, 0.85) !important;
  font-weight: bold;
}

.ant-menu-item-selected::after,
.ant-menu-item::after,
.ant-menu-item:hover::after {
  border-bottom: none !important;
}
